*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}


/* Mobile style */

@media only screen and (max-width: 600px){
    .page,
    .page2,
    .tabla,
    .section,
    .fr,
    .cur,
    .cvf{
        width: 100%;
    }
    p, h3, h1, footer, label, .fr{
        color: white;
    }
    h1, .cv, .tabla, .titulo, .fr{
        margin: auto;
        padding: 15px;
    }

    .boton a{
        text-decoration: none;
        text-align: center;
        color: white;
    }
    .dropdown-menu{
        background-color: black;
    }
    .dropdown-item{
        color: #A6A6A6;
    }
    .page{
        padding: 90px 90px;
    }

    .page2{
        padding: 15px 36px;
    }
    .section{
        padding: -4px;
        
    }

    .salva{
        width: 300px;
        height: 300px;
      }

    .fr{
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
        margin: auto;
    }

    .cvf{
        padding: 15px;
    }
    .cvf h2 h3 p{
        color: #F2F4F4 ;
        font-size: 25px;   
        text-align: left;
        font-family: 'Times New Roman', Times, serif; 
    }
    h2{
        color: #F2F4F4 ;
        text-decoration: underline;
        font-size: 25px;   
        text-align: left;
        font-family: 'Times New Roman', Times, serif;

    }
    .button {
        background-color: #555555;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 12px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
   
    
    

}

/* Tablet Style */

@media only screen and (min-width: 600px) and (max-width:960px){
    .page,
    .page2,
    .tabla,
    .section,
    .fr,
    .cur,
    .cvf{
        width: 50% !important;  
    }
    p, h3, h1, footer, label, .fr{
        color: white;
    }
    h1, .cv, .tabla, .titulo, .fr{
        margin: auto;
        padding: 15px;
    }
    .port{
        padding: 20px;
    }
    .page{
        padding: 120px 270px;
    }
    .salva{
        width: 700px;
        height: 500px;
      }

    .fr{
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
        margin: auto;
        padding: 5px;
        width: 200px;
    }
    .cvf{
        padding: 15px;
    }
    .cvf h2 h3 p{
        color: #F2F4F4 ;
        font-size: 25px;   
        text-align: left;
        font-family: 'Times New Roman', Times, serif; 
    }
    h2{
        color: #F2F4F4 ;
        text-decoration: underline;
        font-size: 25px;   
        text-align: left;
        font-family: 'Times New Roman', Times, serif;

    }
    .button {
        background-color: #555555;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 12px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
}

/* Desktop Style */

@media only screen and (min-width:961px){
    .page{
        width: 960px;
        margin: 0 auto;
    }
    .page,
    .page2,
    .tabla,
    .section,
    .fr,
    .cur,
    .cvf{
        width: 33,3%;
    }


.header{
    width: 400px;
}


.cvimg{
    height: 400px;
    width: 400px;
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: baseline;
    float: left;
    
}

.san{
    border-radius: 50%;
}



.cv{
    display: flex;
    justify-content: right;
    height: 400px;
    width: 400px;
    margin: 10%;
    padding: 6%;
}


.page{
    align-items: center;
    margin: auto;
    padding: 130px;  
}
.page2{
    align-items: center;
    margin: auto;
    padding: auto;  
}

.alert{  
    height: 100px;
    width: 1200px;  
    background-color: grey;
    color: white;
    padding: 30px;
    margin: auto;
}



.fr{
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}



.salva{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }

.titulo h3{
    color: white;
    font-size: 150%;
    text-decoration: underline;
    /* padding: 1%; */
    text-align: center;

}

p{
    color: white;
    font-size: 100%;
    padding: 5%;
    text-align: center;
}


.lista{
    margin-top: 15px;

}

.lista > li{
    display: inline;
    margin-right: 100px;
}

.lista > li:last-of-type{
    margin-right: 0px;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;  
    border-radius: 5px;
    position: center;
    top: 38px;
    left: -3px;
    padding: 5px;


}
.dropdown-menu li{
    color: white;
    background-color: grey;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    width: 86%;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
  
}
.dropdown-menu li:last-of-type{
    border-bottom: none;
}

.dropdown{
    position: relative;
}
.dropdown{
    z-index: 4;
    position: relative;
}

.dropdown-menu{
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: flex;
    flex-direction: column;
    background-color:grey;
}

.section{
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    display: inline-block;
    padding: 12px 12px 12px 0;
   
    
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.der{
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.izq{
    float: left;
    width: 75%;
    margin-top: 6px;
  }
input{
    float: left;
    width: 80px;    
}

input[type=text]:focus {
    border: 5px solid white;
  }

textarea{
    color: white;
} 

select{
    color: white;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
.button5:hover {
    background-color: #555555;
    color: white;
  }




.titulo{
    margin: 2px;
    padding: 4%;
}

.alert{
    background-color: grey;
    color: white;
    text-align: center;  
}



.pie{
    color: white;
    background-color: black;
}

footer{
   position:fixed;
   left:0px;
   bottom:8px;
   height:30px;
   width:100%;    
}


h1{
    color: white;    
    text-align: center;
    margin: 15px;
    font-family: 'JetBrains Mono', monospace;
    
}

.cvf{
    border: 1px solid grey;
    margin: 50px;
    line-height: 30pt;
    text-align: left;
}

.cvf h2{
    color: #F2F4F4;
    font-size: 35px;
    text-decoration: underline;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

.cvf h3{
    color: #F2F4F4;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}


.cvf p{
    color: #F2F4F4 ;
    font-size: 25px;   
    text-align: left;
    font-family: 'Times New Roman', Times, serif; 
    
}